# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\valentin.chetelat\Documents\CLion Projects\CPlusPlus\labo_05_VecteurMatrices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
